# Rust
/target
/contracts/vault/target

# Node
/frontend/node_modules
node_modules/
pnpm-lock.yaml

# Editor
.idea
.vscode
*.swp

# Agents
GEMINI.md

.agents/
.claude/
skills-lock.json
issue.md
contracts/vault/test_snapshots